.msg {display:block; padding:10px 5px; color:#999}
.bd {font-weight:bold}
.rdbg {background:#fff1f1}
.rdtxt {color:#f00; padding:3px 5px}
.grbg {background:#eef6dc}
.grtxt {color:green}
ul.edge {margin:0px; padding:0px; color:#333}
ul.edge li a {font-weight:normal; text-overflow:ellipsis; word-wrap:break-word; overflow:hidden; display:block}
ul.edge>li {border-bottom:1px solid #e1e1e1; padding:0px 5px 0px 25px; word-wrap:break-word; line-height:2.2em}
ul.edge>li:last-child {border-bottom:0px}
.editform .floaty header {border-bottom:0px; padding-left:5px; padding-right:0px; padding-top:0px; background-color:#fff !important; background-image:none !important; background:-moz-linear-gradient(top, #fff, #fff) !important}
.popCat ul.edge>li:first-child {border-top:1px solid #e1e1e1}
.popCat ul.edge>li>a {padding-left:10px}
#mtrsNtry {margin-bottom:15px; border-bottom:none}
.hidden {display:none}
.rltv {position:relative; border-bottom:none}
#mtrsNtry h2 {font-size:16px; color:#333; margin:0; padding:10px 5px}
#mtrsNtry a {display:block; border-bottom:1px solid #ccc; margin:0; padding:10px 25px; position:relative}
.arwRt {padding:10px; position:absolute; right:0; background:url(http://p.ebaystatic.com/aw/pics/mobile/images/arrow_right_grey.gif) no-repeat 50% 50%}
#motoBakBtn {background:url(http://q.ebaystatic.com/aw/pics/mobile/promo/btnback_bg.png) no-repeat 50% 50%; display:inline-block; padding-left:35px; padding-right:12px; height:30px; width:45px; background-size:63px auto; background-position:20px 3px; vertical-align:top}
div.em_m {min-width:120px; max-width:100%; position:absolute; left:0px; z-index:3; background-color:#fff; border:1px solid #e1e1e1; -webkit-box-shadow:3px 3px 3px #888; -moz-box-shadow:3px 3px 3px #888; clear:both}
div.em_m>a {display:block; line-height:35px; padding:2px 10px; border-bottom:1px dotted #e1e1e1; font-weight:normal !important}
div.em_m>a:last-child {border-bottom:0px}
.flrt img {margin-left:10px}
.flrtwhite a {color:#fff !important; padding-right:5px}
.flttop {margin-top:28px !important}
div.em_wrap {overflow:hidden; padding:5px 0; width:100%}
div.em_wrap {background:-webkit-gradient(linear, 0% 60%, 0% 100%, from(#fff), to(#eaeaea))}
div.em_galr {height:160px; position:relative; text-align:center; padding-bottom:5px}
div.em_itm {float:left; width:110px; height:107px; position:absolute; top:0; left:0; margin:5px 7px; -webkit-tap-highlight-color:rgba(255,255,255,0)}
div.em_itm>a {display:block; font-size:14px; margin:3px 0px 0px}
div.em_itm div.em_thmb {width:118px; height:90px; border:1px solid #ccc; overflow:hidden; background-color:#fff; -webkit-box-shadow:0px 1px 5px #888; -moz-box-shadow:0px 1px 5px #888}
div.deal_img img {height:90px}
div.em_galrhp {height:182px; position:relative; text-align:center; display:table; margin:auto}
div.em_itmhp {float:left; width:120px; height:140px; position:relative; display:inline-block; padding-right:2px}
.arrowImage {position:absolute; z-index:2; padding:20px 0px; margin-bottom:-20px}
#galleryLeftArrow {padding-right:20px}
#galleryRightArrow {right:0px; padding-left:20px}
#arrowDiv {position:relative !important; height:0px; z-index:2}
div.em_wrap_dd {-webkit-user-select:none; background:#fff}
.msrp {font-size:small; text-decoration:line-through; padding-left:3px; width:100%; margin-right:2px; display:inline-block}
.onlyPrc {font-size:small; color:#333; width:100%; padding-right:3px; margin-left:2px; display:inline-block}
.prcntOff {position:absolute; left:-10px; top:-10px; color:white; width:38px; height:38px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/sprite2_144_v1.png); background-size:40px auto; background-position:0px 0px; background-repeat:no-repeat; padding-top:5px; font-size:11px; opacity:0.8; font-weight:bold; text-align:center}
.mdlPer {padding-top:12px}
.deal_img>a {display:block}
.bgPer {left:-15px; background-size:50px auto; width:48px; height:48px; padding-top:8px; padding-left:1px}
.btn {display:inline-block; text-decoration:none; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; vertical-align:middle; text-align:center; line-height:40px}
a.btn {padding:0px 10px}
.primary, a.primary {border:1px solid #1162b7; color:#fff; height:2.6em !important; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.25); background-image:url(http://p.ebaystatic.com/aw/pics/mobile/images/button_blue_gradient.gif)}
.primary, a.primary {background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6ebde2), to(#1163b8))}
.primary, a.primary {background:-o-linear-gradient(top, #6ebde2, #1163b8)}
.secondary, a.secondary {border:1px solid #ccc; color:#aaa; background-image:url(http://p.ebaystatic.com/aw/pics/mobile/images/button_grey_gradient.gif)}
.secondary, a.secondary {background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeaea))}
.secondary, a.secondary {background:-o-linear-gradient(top, #fff, #eaeaea); color:#999}
.cta, a.cta {border:1px solid #ccc; color:#1162b7}
.cta, a.cta {background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeaea))}
.cta, a.cta {background:-o-linear-gradient(top, #fff, #eaeaea)}
a.cnt {text-align:left; white-space:nowrap; margin:0px}
a.cnt span {display:inline-block; min-width:0px; font-weight:normal !important; text-align:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
a.cnt span:first-child {color:#666; margin:0px 5px 0px 13px}
a.cnt span.on {color:#1162b7}
input.btn {font-size:16px; font-family:Helvetica, Arial}
.hpgrey {border:1px solid #ccc; background:-webkit-linear-gradient(bottom, #eee 0%, #e7e7e7 100%); padding:5px 0px !important}
table.btntable {width:100%}
table.btntable td {padding:5px}
table.btntable a.btn, table.btntable input.btn {display:block; padding:0px; width:100%; line-height:2.5em; height:2.5em}
table.btntable1 a.btn, table.btntable1 input.btn {display:block; line-height:2em; height:2em; padding:0px; width:100%}
table.btntable1 {width:100%}
.nm {color:#1162b7; font-weight:normal !important}
.myebayhead {padding:6px; background:transparent; border:none; color:#666}
.btnPad>table {border-spacing:3px}
.hp_ebay {background:-webkit-linear-gradient(bottom, #fff 55%, #eee 95%); border:none; padding:0px 7px 10px}

/* en_US/E775/MobiAppSpec_HomeDsf_E77515414913_en_US */
/* b=15414913 */