html {-webkit-text-size-adjust:none}
body {font-family:Helvetica, Arial; font-size:16px; color:#999; margin:0px; padding:0px; position:relative}
a:active, a:visited, a:link {color:#0096d1; text-decoration:none}
a.linkblock {display:block}
img {border:0px}
ul {list-style:none}
#pagewrap {overflow:auto}
.arrow {background:transparent url(http://q.ebaystatic.com/aw/pics/mobile/images/arrow_rt_grey.png) no-repeat scroll right}
.arrowblue {background:transparent url(http://p.ebaystatic.com/aw/pics/mobile/images/arrow_rt_blue.png) no-repeat scroll right}
.topborder {border-top:1px solid #e0e0e0; border-bottom:0px none #fff}
section {display:block; border-collapse:separate; border-bottom:1px solid #ccc}
section>header {display:block; border-collapse:collapse; border-bottom:1px solid #ccc; font-weight:bold; font-size:16px; line-height:2em; padding-left:10px}
section>header {background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeaea))}
section>header {background:-o-linear-gradient(top, #fff, #eaeaea)}
section>h1 {font-size:18px; font-weight:normal; margin:0px; padding:10px}
section>p {margin:0px; padding:10px}
input[type="number"], input[type="text"], input[type="password"] {padding:0px 5px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; font-size:16px; border:1px solid #ccc; height:1.5em; width:100%}
.flrt {float:right}
h2.h2off, h3.h2off {margin:0px; font-size:16px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#333}
.inl {display:inline}
.morewrap {margin-top:-32px; float:right}
.dealswrap {width:80%; word-wrap:break-word}
.dealsh2 {white-space:normal !important}
.secHeaderBro, .secHeaderDeals, .savedSrchs {position:relative; border-bottom:1px solid #fff; border-top:1px solid #e1e1e1; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.35, #eee), color-stop(0.75, #fff)); line-height:2em; padding:5px 15px 5px 35px}
.secHeaderPop {line-height:2em; padding:5px; color:#333; background:transparent; border:none}
.secHeaderDeals {color:#333}
.secHeaderH2 {padding:2px 0 !important}
.normalFnt {font-weight:normal !important}
.sgnbtn .btntable tr td a {line-height:35px !important; height:35px !important; padding:2px 0px !important}
#rainbowbar {background-image:-webkit-gradient(linear, left top, right bottom, color-stop(0%, #f00), color-stop(22%, #f00), color-stop(26%, #903), color-stop(48%, #009), color-stop(52%, #c60), color-stop(74%, #fc0), color-stop(78%, #990), color-stop(100%, #9c0)); background:-moz-linear-gradient(left, #f00 0%, #f00 22%, #903 27%, #009 49%, #c60 53%, #fc0 75%, #990 79%, #9c0); height:3px; width:176px; margin-top:10px; margin-bottom:10px}
#lineone {display:block; font-size:1em; margin:5px 7px 0px 7px; color:#fff; text-align:left}
#linetwo {width:172px; padding:2px; border:1px solid #424242; font-size:0.8em; margin:0px; text-align:left; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#424242}
.sectionanchor {width:164px; height:49px; padding:3px 7px 3px 3px; display:inline-block; border:1px solid #424242; text-decoration:none; cursor:pointer; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#424242}
.hbox {display:-webkit-box; -webkit-box-orient:horizontal}
.vbox {display:-webkit-box; -webkit-box-orient:vertical}
.box-pack-justify {-webkit-box-pack:justify; -moz-box-pack:justify; box-pack:justify}
.box-pack-start {-webkit-box-pack:start; -moz-box-pack:start; box-pack:start}
.thaln {vertical-align:top !important}
.blk {color:#000 !important}
.plcsec {padding:0px !important}
.plcul {list-style-position:inside; list-style-type:disc; margin:0px; padding:5px !important}
.plcdiv {padding:5px !important; word-wrap:break-word}
.fltyhdr .fltyhdrbg {background-color:#1162b7 !important; background-image:url(http://p.ebaystatic.com/aw/pics/mobile/images/button_blue_gradient.gif) !important; background-repeat:repeat-x !important; font-weight:normal !important}
.abtul {list-style-type:none !important}
.plcsec header {line-height:1.4em; margin-top:10px}
#searchBtn {position:relative}
.popCat {padding:0px 10px 10px; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.25, #fff), color-stop(0.65, #eee))}
.MoreClosed, .MoreOpen {margin-right:0px; color:#666 !important}
#promotionBanner {border-bottom:0px; padding-bottom:0px}
#promotionBanner>a {padding:20px 10px !important}
.hp_grey {color:#666; font-weight:normal}
.logoSpan {display:inline-block; position:absolute; left:7px; margin-top:4px; width:24px; height:24px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/Footer_144_v3.png); background-size:90px auto; font-weight:normal}
.hp_dd {background-position:-1px -104px}
.brsCat {background-position:-68px -43px}
.srchs {background-position:-44px -44px}
.arrowSprite {background-image:url(http://p.ebaystatic.com/aw/pics/mobile/rwap/sprite1_144_v2.png); width:16px; height:18px; display:inline-block; float:right; background-size:80px auto; position:relative; top:7px}
.blright {background-position:0px -54px; position:absolute; right:0px; margin-top:10px; margin-right:12px}
.greydown {background-position:0px 4px}
.bluedown {background-position:0px -37px}
.greyup {background-position:-20px 4px}
.wrap {width:60%; display:inline-block}
a.tapped {color:#115689}
.str {position:relative; top:5px; display:inline-block; width:18px; height:20px; background-image:url(http://p.ebaystatic.com/aw/pics/mobile/rwap/sprite_150_body.png); background-size:680px auto}
.str.nn {display:none}
.str.yw {background-position:277px -5px}
.str.bl {background-position:259px -5px}
.str.tq {background-position:241px -5px}
.str.pp {background-position:223px -5px}
.str.rd {background-position:205px -5px}
.str.gr {background-position:187px -5px}
.str.yws {width:22px; height:22px; background-position:168px -3px}
.str.tqs {width:22px; height:22px; background-position:119px -3px}
.str.pps {width:22px; height:22px; background-position:95px -3px}
.str.rds {width:22px; height:22px; background-position:70px -3px}
.str.grs {width:22px; height:22px; background-position:46px -3px}
.str.sls {width:22px; height:22px; background-position:22px -3px}
.grright {background-position:37px -54px; right:0px; margin-top:10px; margin-right:12px}
.brkWrds {-ms-word-wrap:break-word; word-wrap:break-word; hyphens:auto; word-break:break-word}
.mango select.drpdwnStyle {background-image:none !important; padding-right:10px !important}
.bold {font-weight:bold}
div {display:block}
.inputDiv {border:2px solid #c1c1c1; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; padding-right:40px; background:transparent}
.gtx {position:absolute; top:0px; left:0px; width:100%; z-index:-1; background-color:transparent}
.gtxi {height:1.5em; padding:6px 5px; margin:2px; position:relative; color:#b3abab; line-height:24px; font-family:Helvetica, Arial; padding-right:40px}
.srchBtnLg {width:26px; display:block; height:24px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/sprite1_150_v5.png); background-size:1000px auto; background-position:-861px -5px}
.afl {position:absolute; display:none; left:3px; right:14px; top:0px; box-shadow:4px 7px 7px rgba(0, 0, 0, 0.3); -webkit-box-shadow:4px 7px 7px rgba(0, 0, 0, 0.3); background:#fff; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(1%, #f1f1f1), color-stop(2%, #f1f1f1), color-stop(6%, white), color-stop(99%, white)); border-left:1px solid #bbb; border-bottom:1px solid #bbb; border-right:1px solid #bbb; border-top:0px}
.afe {font-size:16px; -webkit-tap-highlight-color:rgba(224,237,255,0.4); color:#000; min-height:40px; border-bottom:1px solid #bebebe; border-top:1px solid #fff}
.textOutter {padding:5px 10px; display:table-cell; width:100%; vertical-align:middle}
.autoFillText, .recentSearchText {display:inline; padding-top:5px; color:#666}
.recentSearchText {white-space:pre-wrap; word-wrap:break-word}
.autoFillText strong {color:#1f7fcc; font-weight:normal}
.autoFillArrow {display:table-cell; text-align:center; width:42px; min-width:42px; height:40px; background-color:#f1f1f1; vertical-align:middle; min-height:40px}
.arrowText {vertical-align:middle; display:inline-block; min-width:18px; min-height:18px; background-image:url(http://pics.ebaystatic.com/aw/pics/mobile/rwap/spt_UI_components_v8.png); background-position:0px -56px; background-size:110px auto}
.categoryInStyle {color:#999}
.searchHeader {background-color:#0096d1; color:#fff; font-size:14px; margin:0px; padding:5px}
.highlight {color:#0096d1; font-weight:bold}
.autoFillCategory {color:#ff790a; font-weight:bold; padding-top:5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px}
#historySearchArrow>img {position:relative; top:0px; width:30px}
.rightColumn {display:table; table-layout:fixed; width:100%}
.ghAC_title {border-bottom:1px dotted #bebebe; position:relative; text-align:center; margin:0px 10px; background:transparent}
.ghAC_titletxt {color:#999; position:relative; top:6px; padding:0 5px; font:10px Verdana; background:#f1f1f1; background-image:-webkit-linear-gradient(top, #f1f1f1 1%, #f1f1f1 2%, #fff 6%, #fff 99%)}
.firstRow {background:#f1f1f1; background-image:-webkit-linear-gradient(top, #f1f1f1 1%, #f1f1f1 20%, #fff 20%, #fff 99%)}
table.btnpanel {border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #ccc; color:#aaa; line-height:25px; width:100%; background-color:#eaeaea; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eaeaea))}
table.btnpanel td {text-align:center; border-right:1px solid #ccc}
table.btnpanel td:last-child {border-right:0px}
table.btnpanel tr.noborder td {border-right:0px}
table.btnpanel td a {display:block}
table.btnpanel {-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #ccc; color:#aaa; line-height:25px; width:100%}
table.btnpanel {background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeaea))}
table.btnpanel {background:-moz-linear-gradient(top, #fff, #eaeaea)}
table.btnpanel td {text-align:center; border-right:1px solid #ccc}
table.btnpanel td:last-child {border-right:0px}
table.btnpanel tr.noborder td {border-right:0px}
table.btnpanel td a {display:block}
header>form {display:table; width:100%; padding:10px 13px}
header>form>span {display:inline-block; text-align:left; vertical-align:middle; margin:0px; width:100%}
header>form>span:first-child {}
#kw {font-size:16px; padding:6px 5px; z-index:999; background-color:transparent; font-family:Helvetica, Arial; line-height:24px; color:#666; border:0px; -webkit-appearance:none; outline:none !important; -webkit-tap-highlight-color:#fff}
#srchDv {margin-right:0px}
header>form>span>div>input[type="image"] {padding-right:5px}
.bbu {text-align:center; line-height:29px; color:#fff; display:inline-block; max-width:75px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -webkit-border-image:url(http://pics.ebaystatic.com/aw/pics/mobile/images/back.png) 0 5 0 15 stretch stretch; -moz-border-image:url(http://pics.ebaystatic.com/aw/pics/mobile/images/back.png) 0 5 0 15 stretch stretch; border-width:0 4px 0 16px; padding:3px 6px 3px}
.navTitle {text-align:center; overflow:hidden; word-wrap:break-word; text-overflow:ellipsis; color:#333; font-size:16px; margin:0px; font-weight:bold}
.brnd {border:0; border-spacing:0; width:100%}
.brnd td {height:5px; margin:0; padding:0}
.brnd1 {background-color:red; width:22%}
.brnd2 {background-color:#903; width:4%}
.brnd3 {background-color:#009; width:22%}
.brnd4 {background-color:#c60; width:4%}
.brnd5 {background-color:#fc0; width:22%}
.brnd6 {background-color:#990; width:4%}
.brnd7 {background-color:#9c0; width:22%}
.headPad {padding:5px}
h1.h1off {margin:0px; font-weight:normal; font-size:16px}
.btnWdth {width:30px; height:38px; position:relative}
.tblWdth {width:100%}
.hdn {position:absolute; left:-9999px}
.navWdth .btnpanel {height:31px; width:70px; float:right}
.btnWdth input {height:28px; margin-left:-3px !important}
.tdw {width:80% !important}
.tdwp {width:20% !important; padding-left:10px !important; font-weight:bold !important}
#tabbedSection {border-bottom:1px solid #aaa; margin-top:5px; text-align:center}
#tabbedSection span {margin:0% 2%; border:1px solid #aaa; padding:0px 5px; width:40%; display:inline-block; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; border-top-left-radius:8px; border-top-right-radius:8px; position:relative; top:1px}
#tabbedSection span a {display:block; word-break:break-all}
#tabbedSection .activeTab {border-bottom:1px solid #fff}
#tabbedSection .activeTab a {color:#333}
#tabbedSection .inactiveTab {background-color:#e6e6e6; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.25, #fbfbfb), color-stop(0.75, #e6e6e6))}
#stepsHeaderDiv {display:inline-table; font-size:12px; width:100%; padding:3px}
#stepsHeaderDiv>span {height:auto; float:left; margin:0px; display:table-cell}
#stepsHeaderDiv>div {float:right; margin:4px 0 0 0px; text-align:right; display:table-cell}
#stepsHeaderDiv>div>img {width:200px}
#stepsHeaderDiv>div>span {position:relative; color:#ccc; border-bottom:8px solid #ccc; padding:0 4px; margin-right:8px; text-align:center}
#clearSearchX>img {position:relative; top:7px; width:20px}
.blueanchor {color:#1162b7 !important}
.blueanchor a {color:#1162b7 !important}
.headerLogo {height:42px; position:relative; top:2px; float:left}
.srchBtnLg {width:26px; display:block; height:24px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/sprite1_150_v5.png); background-size:1000px auto; background-position:-862px -5px}
.tableStyle {display:table; width:100%; border:none; margin-top:8px}
.tableDataStyle {display:table-cell; vertical-align:middle; text-align:center}
.srchKw {padding:0px !important; width:auto !important}
#srchFrm>span {position:relative; display:inline-block; margin:0; text-align:left; vertical-align:middle; width:100%; margin-left:2px}
#autoDiv {text-align:left; position:absolute; left:12px; right:0px}
.hdrSprt {width:24px; height:24px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/Footer_144_v3.png); background-size:90px auto; display:inline-block; position:absolute; top:3px; left:3px}
.hme {background-position:0px 0px}
.hmeAnchr {width:30px; height:30px; display:inline-block; border:1px solid #b2b2b2; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#ebebeb)); border-radius:4px; -webkit-border-radius:4px; position:relative}
#searchBtn {padding:0px 6px; background-color:#f1f1f1; background:-webkit-linear-gradient(bottom, #f1f1f1 5%, #c3c3c3 65%); border:1px solid #c1c1c1; border-radius:0px 4px 4px 0px; -webkit-border-radius:0px 4px 4px 0px; -moz-border-radius:0px 4px 4px 0px; display:table-cell; vertical-align:middle}
#tbdHdr {display:table; width:100%; height:45px; border:none}
.cl {display:table-cell; vertical-align:middle; border-bottom:1px solid #ededed; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.1, #dedede), color-stop(0.4, #fff))}
.cl>a {display:block; height:42px}
.cl span.hdSpt {display:inline-block; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/sprite1_150_v5.png); width:25px; height:25px}
.lgoCl {text-align:left; width:auto}
.srchCl {border-left:1px solid #ededed; border-right:1px solid #ededed}
.srchCl, .myBCl {width:75px; text-align:center}
.srchCl.actv, .myBCl.actv {background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.1, #77bccc), color-stop(0.9, #fff)); border-bottom:none}
.lgoCl span.hdSpt {float:right; margin-right:15px; margin-top:9px; background:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/Footer_144_v3.png); background-position:0px -2px; background-size:110px}
.srchCl span.hdSpt {background-position:138px -6px; background-size:1000px auto; position:relative; top:10px}
.myBCl span.hdSpt {background-position:64px -4px; background-size:1000px auto; position:relative; top:10px}
.hidden, #msgId.hidden {display:none !important}
#searchBtn.tapped {background:-webkit-linear-gradient(bottom, #f1f1f1 5%, #c3c3c3 65%)}
#srPgBtns {margin:-11px 13px 10px; font-size:14px}
a.sBtns {border:1px solid #ccc; padding:6px 10px; margin-right:8px; border-bottom-left-radius:8px; border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -webkit-border-bottom-right-radius:8px; color:#666; background:-moz-linear-gradient(top, white 15%, gainsboro 60%); text-shadow:1px 1px 3px #fff; position:relative; display:inline-block}
.sprt {position:relative; display:inline-block; width:16px; left:4px; top:0px; height:16px; vertical-align:text-top; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/spt_redesign_v5.png)}
.rfndLg {background-size:920px; background-position:-140px -7px}
.strLg {background-size:700px; background-position:-86px -4px}
#srchFrm {-moz-box-sizing:border-box; display:table; padding:10px 13px; width:100%; height:40px}
#autoDiv>div {position:relative}
.lgoCl a {white-space:nowrap; display:inline-block}
.homeicon {position:absolute; right:151px; top:5px}
.refineMask {position:absolute; left:0; top:-4px; width:82px; height:30px; background:transparent; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-select:none}
.saveMask {position:absolute; left:0; top:-5px; width:82px; height:30px; background:transparent; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-select:none}
#svSrchCntr {position:absolute; z-index:7; background:#fff; left:10px; right:10px; border:1px solid #333; padding:0px; margin:0px}
#svSrchFrm>h3 {margin:10px 10px 5px; padding-bottom:5px; color:#666; border-bottom:1px solid #666}
#svSrchFrm>input {display:block; width:80%; margin:10px; height:2em; border:1px solid #b1b1b1}
#svSrchFrm>.ntry {margin:0px 10px 10px; display:block}
#svSrchFrm>.ntry>span {display:inline-block; width:80%; margin-left:10px; vertical-align:top}
#svSrchFrm>.btnDv {background:#e1e1e1; padding:10px}
#svSrchFrm>.btnDv>span {display:inline-block; width:48%; padding:10px 0px; text-align:center; font-weight:bold; border-radius:4px; -webkit-border-radius:4px; cursor:pointer}
#cnclBtn {background:#fff; color:#000; border:1px solid #ccc}
#sveBtn {background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6ebde2), to(#1163b8)); border:1px solid #1162b7; color:#fff; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.25); float:right}
#tglSrchAncr {display:block; height:42px; cursor:pointer}
.inputIconStyle {background:none repeat scroll 0 0 #fff; bottom:3px; position:absolute; right:8px; top:3px}
.inputIconLink {display:inline-block; height:30px; text-align:center; width:26px}
#historySearchArrow {background-image:url(http://pics.ebaystatic.com/aw/pics/mobile/rwap/spt_UI_components_v5.png); background-position:0px -218px; background-size:140px auto}
#kw:focus {outline:none !important; -webkit-appearance:none; -webkit-tap-highlight-color:#fff}
#mw-hdr {overflow:hidden}
footer {background:#fff; width:100%; text-align:center; display:block}
div.copy {color:#b3b3b3; background:#fff; margin:0; padding:3px 0; line-height:1.5em; text-align:center; font-size:14px}
.lnkPipB {color:#bababa; line-height:2em; text-align:center}
.blueanchor a {color:#0096d1}
#mwver {display:none; color:#999; visibility:hidden}
#footerLvl1Section, #footerLvl2Section, #footerDownloadSection, div.copy {border:none; display:block}
#footerLvl1Section {text-align:left; background:#eee; padding:0px 10px; margin:10px 10px 0px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px}
#footerLvl1Section .footerLvl1Entries a {padding:15px 5px 15px 45px; border-bottom:1px solid #c7c7c7; display:block; color:#333; position:relative}
#footerDownloadSection a {width:auto; padding:15px; padding-left:60px; color:#000; background-color:#eee; background-image:-webkit-linear-gradient(bottom, #eee 15%, #fff 75%); border:1px solid #b3b3b3; border-radius:5px; position:relative; top:28px}
#footerDownloadSection {position:relative; height:75px; border-bottom:1px dotted #e1e1e1; margin:0px 10px 5px; overflow:hidden; white-space:nowrap}
.appLogo {width:46px; height:46px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/Footer_144_v3.png); background-size:115px auto; display:inline-block; position:absolute; left:9px; top:0px}
.appLogo.apple {background-position:-2px -87px}
.appLogo.android {background-position:-49px -87px}
#footerLvl2Section a, #footerLvl2Section span {display:inline-block; width:auto; padding:0px 5px}
.footerL1Logo {width:24px; height:24px; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/Footer_144_v3.png); background-size:90px auto; display:inline-block; position:absolute; left:10px; top:11px}
.footerL1Logo.lvl1_1 {background-position:0px 0px}
.footerL1Logo.lvl1_2 {background-position:57px -3px; background-size:870px auto; background-image:url(http://q.ebaystatic.com/aw/pics/mobile/rwap/sprite1_150_v5.png); top:12px}
.footerL1Logo.lvl1_3_1 {background-position:-46px 2px}
.footerL1Logo.lvl1_3_2 {background-position:0px -172px}
.footerL1Logo.lvl1_4 {background-position:-67px 1px}
#footerLvl1Section .footerLvl1Entries {position:relative}
#footerLvl1Section .footerLvl1Entries:last-child a {border-bottom:none}
.subText {color:#999; font-size:13px}
.costAtXO {color:#999; font-size:12px; padding:10px 0}

/* en_US/E775/MobiAppSpec_MobiDsfShared_E77515414913_en_US */
/* b=15414913 */